.images img {
  cursor: pointer;
}

body:has(.overlay) {
  overflow: hidden;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.overlay img {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.overlay span {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 25px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
  opacity: 0.2;
}

.overlay span:hover {
  opacity: 0.5;
}

.overlay-arrows_left {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.2;
}

.overlay-arrows_left svg:hover {
  opacity: 0.5;
}

.overlay-arrows_right svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.2;
}

.overlay-arrows_right svg:hover {
  opacity: 0.5;
}

.overlay-arrows_right {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  z-index: 999;
}
