.images img {
  cursor: pointer;
}

body:has(.overlay) {
  overflow: hidden;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.overlay img {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

/* Shared styles for icons */
.overlay span,
.overlay-arrows_left svg,
.overlay-arrows_right svg {
  cursor: pointer;
  color: #ffffff;
  opacity: 0.2;
}

.overlay span:hover,
.overlay-arrows_left svg:hover,
.overlay-arrows_right svg:hover {
  opacity: 0.5;
  color: #7dd3fc;
}

.overlay span {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 25px;
  z-index: 999;
}

.overlay-arrows_left,
.overlay-arrows_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.overlay-arrows_left {
  left: -50px;
}

.overlay-arrows_right {
  right: -50px;
}

.overlay-arrows_left svg,
.overlay-arrows_right svg {
  width: 25px;
  height: 25px;
}

@media (max-width: 640px) {
  .overlay-arrows_left {
    left: -30px;
  }
  .overlay-arrows_right {
    right: -30px;
  }
  .overlay-arrows_left svg,
  .overlay-arrows_right svg {
    width: 18px;
    height: 18px;
  }
  .overlay span {
    font-size: 18px;
  }
}
